*{
  box-sizing: border-box;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #c4c4c4;
    text-align: center;
    border:rgb(54, 54, 54) solid 1px;
    height: 270px;
    width: auto;
    background-color:#2d545e;
  }

nav a{
    color: #ff2c2c;
}
nav ul{
  list-style-type: none;
}

nav li{
  display: inline-block;
  background-color: rgb(96, 200, 231);
  padding: 5px 10px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 3%;
  margin:0px 5px;
  font-size: 30px;
  width: 300px;
}
  
body{
  background-color: #c89666;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
  
.language{
    border:rgb(197, 197, 197) solid 3px;
    margin: 10px auto;
    padding: 5px 10px;
    width: auto;
}

.language-tree{
      border: white solid 2px;
      margin: 10px auto;
      padding: 0px 10px 5px 5px;
      width:auto;
    }

.section{
      border: white solid 1px;
      margin: 5px auto;
      padding: 3px 10px;
      width:95%;
    }

#html{
    background-color: rgba(205, 134, 63, 0.507);
  }

  #css{
    background-color:hsla(180, 25%, 25%, 0.582);
  }

  #javascript{
    background-color:rgba(139, 69, 19, 0.568);
  }

  #git{
    background-color:rgba(153, 205, 50, 0.534);
  }


  h1{
    text-align: center;
  }
  
  h2{
    padding: 5px 10px;
  }
  
.image-file{
    line-height: 1.7;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  
  code{
    background-color: azure;
  }

  a{
    color:rgb(61, 22, 233);
  }

  footer ul{
    list-style-type: none;
  }

  .color-template{
    border: white solid 1px;
    display: inline-block;
    width: 300px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px 5px;
    margin: auto 10px;
  }

  #sand-tan{
    background-color: #e1b382;
  }
  #sand-tan-shadow{
    background-color: #c89666;
  }
  #night-blue{
    background-color: #2d545e;
  }
  #night-blue-shadow{
    background-color: #12343b;
  }